<h1 xmlns="http://www.w3.org/1999/html">About me</h1>
<div class="image">
  <img src="../../assets/projects/image.jpeg">
</div>
<div class="aboutmetext">
<p>My name is Sangavi Shanthakumar and I started my PhD in <b><a href="https://informatik.rub.de/hcs/" target="_blank">Human-Centered Security</a></b> at <a href="http://casa.rub.de" target="_blank" >CASA</a>. Before that, I completed my master's degree at the Ruhr University Bochum and my bachelor's degree at the Technical University Dortmund, both in Applied Computer Science.

</p>
<p>This website introduces you to my <b>acquired skills</b> during my time at the university and previous
  part-time jobs.
</p>


</div>
