h1{
  /* center this element*/
  text-align: center;
  font-size: 2em;
}

p{
  font-size: 1.2em;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;

}

.icon-bar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 50px 0 0;
}

.icon-bar li {
  display: inline-block;

}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;

}
.icon-bar a:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
