<div class="wrapper">
<div class="header">
  <h1>Curriculum Vitae</h1>
</div>


<div class="experience-container">

  <div class="experience-entry">
    <div class="experience-details">
      <h2>Working student as a frontend developer</h2>
      <p class="dates">since 07/2023</p>
      <ul class="responsibilities">
        <li>At <b><a href="https://www.viadee.de/" target="_blank">viadee</a></b>, I work as a frontend developer (20h a week). Besides that, I worked with Firebase, writing corresponding functions and creating configurations. </li>
      </ul>
    </div>
    <div class="experience-tags">
      <span class="tag">Angular</span>
      <span class="tag">TypeScript</span>
      <span class="tag">Firebase</span>
    </div>
  </div>



  <div class="experience-entry">
    <div class="experience-details">
      <h2>Working student as a frontend developer</h2>
      <p class="dates">10/2021 - 05/2023</p>
      <ul class="responsibilities">
        <li>At <b><a href="https://thinkbic.de/" target="_blank">Building Information Cloud</a></b>, I worked as a Angular frontend developer.
        </li>
      </ul>
    </div>
    <div class="experience-tags">
      <span class="tag">Angular</span>
      <span class="tag">TypeScript</span>
    </div>
  </div>

  <div class="experience-entry">
    <div class="experience-details">
      <h2>Working student as a network adminstrator</h2>
      <p class="dates">03/2019 - 09/2021</p>
      <ul class="responsibilities">
        <li> At the  <b><a href="https://wpt.mb.tu-dortmund.de/en/" target="_blank">Chair of Materials Test Engineering</a></b> at TU Dortmund, I worked as a network adminstrator.</li>
      </ul>
    </div>
    <div class="experience-tags">
      <span class="tag">MySQL</span>
      <span class="tag">TYPO3</span>
    </div>
  </div>

</div>

</div>
