<div class="header">
  <h1>Skill set</h1>
</div>
<div class="experience-container">
  <div class="experience-entry">
    <div class="experience-details">
      <h2>Working student as a frontend developer</h2>
      <p class="dates">since 07/2024</p>
      <ul class="responsibilities">
        <li>At viadee, I work as a frontend developer (20h a week). In this role, I replaced a Java backend with Firebase, writing corresponding functions and creating configurations. Additionally, I work with Angular 17 on the frontend.</li>

      </ul>
    </div>
    <div class="experience-tags">
      <span class="tag">Angular</span>
      <span class="tag">TypeScript</span>
      <span class="tag">Firebase</span>
    </div>
  </div>
</div>

<div class="experience-container">
  <div class="experience-entry">
    <div class="experience-details">
      <h2>Working student as a frontend developer</h2>
      <p class="dates">10/2021 - 05/2023</p>
      <ul class="responsibilities">
        <li></li>
      </ul>
    </div>
    <div class="experience-tags">
      <span class="tag">Angular</span>
      <span class="tag">TypeScript</span>
    </div>
  </div>
</div>

<div class="experience-container">
  <div class="experience-entry">
    <div class="experience-details">
      <h2>Working student as a network adminstrator</h2>
      <p class="dates">03/2019 - 09/2021</p>
      <ul class="responsibilities">
        <li></li>
      </ul>
    </div>
    <div class="experience-tags">
      <span class="tag">MySQL</span>
      <span class="tag">TYPO3</span>
    </div>
  </div>
</div>

