<h1>Projects</h1>
<div class="block">
  <p><a href="https://github.com/sangavishanthakumar/calculator" target="_blank"><img src="assets/calculator.png" alt="Image of a calculator" ></a>
  </p>
  <div class="text">
    <h2>Calculator</h2>
    <p>This is a simple calculator program written in <b>Java 17</b>. It contains the basic operators +, -, *, / and is able to compute the percentage of a value.
      <br> Check it out in my <a href="https://github.com/sangavishanthakumar/calculator" target="_blank">GitHub repository! </a></p>
  </div>
</div>
<div class="block">
  <p class="pPort"><a href="https://github.com/sangavishanthakumar/portfolio" target="_blank"><img src="assets/portfolio.png" alt="Image of a calculator" style="width: 80%; margin-left: 0%;"></a>
  </p>
  <div class="text" >
    <h2>Portfolio website</h2>
    <p>
      This project is the one you're currently on. I created this website to represent my interests and projects. It was created with <b>Angular CLI</b>.
      <br>Check it out on my <a href="https://github.com/sangavishanthakumar/portfolio" target="_blank">GitHub repository</a>!
    </p>
      </div>
</div>
<div class="block" >
  <p style="margin-left: 25%;"><a href="https://github.com/sangavishanthakumar/os" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><path d="M7 19v-8a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H9a2 2 0 0 1-2-2Z"/><path stroke-linecap="round" stroke-linejoin="round" d="m10 12.01l.01-.011m1.99.011l.01-.011m1.99.011l.01-.011"/><path d="M6.5 16H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v3"/><path stroke-linecap="round" stroke-linejoin="round" d="m5 7.01l.01-.011M7 7.01l.01-.011M9 7.01l.01-.011"/></g></svg></a>
  </p>
  <div class="text" style="margin-left: 16%;">
    <h2>OS</h2>
    <p>I am currently learning how to build an operating system. I want to gain a deeper knowledge about <b>how computers work</b> and would like to refresh my knowledge about low-level programming.
      <br>Check it out on my <a href="https://github.com/sangavishanthakumar/os" target="_blank">GitHub repository</a>!
    </p>

  </div>
</div>
