<h1>Projects</h1>
<div class="block">
  <p><a href="https://github.com/sangavishanthakumar/calculator" target="_blank"><img src="assets/calculator.png" alt="Image of a calculator" ></a>
  </p>
  <div class="text">
    <h2>Calculator</h2>
    <p>This is a simple calculator program written in <b>Java 17</b>. It contains the basic operators +, -, *, / and is able to compute the percentage of a value.
      <br> Check it out in my <a href="https://github.com/sangavishanthakumar/calculator" target="_blank">GitHub repository! </a></p>
  </div>
</div>
<div class="block">
  <p class="pPort"><a href="https://github.com/sangavishanthakumar/portfolio" target="_blank"><img src="assets/portfolio.png" alt="Image of a calculator" style="width: 80%; margin-left: 0%;"></a>
  </p>
  <div class="text">
    <h2>Portfolio website</h2>
    <p>
      This project is the one you're currently on. I created this website to represent my interests and projects. It was created with <b>Angular CLI</b>.
      <br>Check it out on my <a href="https://github.com/sangavishanthakumar/portfolio" target="_blank">GitHub repository</a>!
    </p>
      </div>
</div>
