h1{
  /* center this element*/
  text-align: center;
  font-size: 2em;
  margin-top: 150px;
}
p{
  font-size: 1.2em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}

a {
text-decoration: none;
color: inherit;
}

a:hover{
  color: thistle;
  /*transform: scale(1.2);
  transition: transform 0.2s ease-in-out;*/
}
