<div class="main-container">

  <nav class="menu">
    <div class="title">
      <a [routerLink]="['/home']">Sangavi Shanthakumar</a>
    </div>

    <div class="toggle-button">
      <button (click)="toggleMenu()" mat-icon-button>
        <mat-icon class="icon-color">menu</mat-icon>
      </button>
    </div>

    <div [class.active]="showMenu" class="menu-links">
      <ul>
        <li [routerLinkActive]="'active'"><a [routerLink]="['/']">Home</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['/aboutme']">About me</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['/cv']">Curriculum Vitae</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['/education']">Education</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['/projects']">Projects</a></li>

<!--        <li [routerLinkActive]="'active'"><a [routerLink]="['/master']">Master</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['/bachelor']">Bachelor</a></li>-->
      </ul>
    </div>
  </nav>

  <div class="component-container">
    <app-home id="home"></app-home>
    <app-aboutme id="aboutme"></app-aboutme>
    <app-experience id="cv"></app-experience>
    <app-education id="education"></app-education>
    <app-projects id="projects"></app-projects>
<!--    <app-master id="master"></app-master>
    <app-bachelor id="bachelor"></app-bachelor>-->
  </div>
  <app-footer></app-footer>
</div>

