<div class="main-container">

  <nav class="menu">
    <div class="title">
      <a [routerLink]="['home']">Sangavi Shanthakumar</a>
    </div>

    <div class="toggle-button">
      <button  (click)="toggleMenu()"  mat-icon-button >
        <mat-icon class="icon-color">menu</mat-icon>
      </button>
    </div>


    <div [class.active]="showMenu" class="menu-links">
    <ul>
      <li (click)="scrollTo('#home')" [routerLinkActive]="'active'"><a [routerLink]="['home']"> Home </a></li>
      <li  (click)="scrollTo('#aboutme')" [routerLinkActive]="'active'"><a [routerLink]="['aboutme']"> About me </a></li>
      <li  (click)="scrollTo('#skillset')" [routerLinkActive]="'active'"><a [routerLink]="['skillset']"> Skill set </a></li>
      <li (click)="scrollTo('#projects')" [routerLinkActive]="'active'"><a [routerLink]="['projects']"> Projects </a></li>
      <li (click)="scrollTo('#contact')" [routerLinkActive]="'active'"><a [routerLink]="['contact']"> Contact </a></li>
    </ul>
    </div>
  </nav>

  <div class="component-container">
    <app-home id="home"></app-home>
    <app-aboutme id="aboutme"></app-aboutme>
    <app-skillset id="skillset"></app-skillset>
    <app-projects id="projects"></app-projects>
    <app-contact id="contact"></app-contact>
  </div>

</div>

