<h1>Skill set</h1>
<p>incoming...</p>
<!--
<div class="inner">
  <div class="header">
    <h1>Skill set</h1>
  </div>
  <div class="container">
    <div class="skill-box">

      <div class="skill-title">
        <a href="https://angular.io" target="_blank">
        <div class="img">
          <img src="assets/skills/angular" alt="Angular logo" class="skill-icon">
        </div>
        <h3>Angular CLI</h3>
      </a>
      </div>
      <p>Some text...</p>

    </div>

    <div class="skill-box">

      <div class="skill-title">
        <a href="https://angular.io" target="_blank">
          <div class="img">
            <img src="assets/skills/angular" alt="Angular logo" class="skill-icon">
          </div>
          <h3>Angular CLI</h3>
        </a>
      </div>
      <p>Some text...</p>

    </div>
    <div class="skill-box">

      <div class="skill-title">
        <a href="https://angular.io" target="_blank">
          <div class="img">
            <img src="assets/skills/angular" alt="Angular logo" class="skill-icon">
          </div>
          <h3>Angular CLI</h3>
        </a>
      </div>
      <p>Some text...</p>

    </div>
  </div>
</div>
-->
