h1{
  /* center this element*/
  text-align: center;
  font-size: 2em;
  margin-top: 150px;
}
p{
  font-size: 1.2em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}
