/* TODO make the circles aligned in a row */

h1{
  /* center this element*/
  text-align: center;
  font-size: 2em;
  margin-top: 17%;
}


p{
  font-size: 1.2em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}

/* src: https://www.youtube.com/watch?v=PXEWjolPP0I */
.inner{
  padding-top: 20px;
}

.header{
  text-align: center;

  padding-top: 1rem;
  position: relative;
}

.header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  /*background-color: thistle;*/
}

.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding:1rem 80px;
  /*font-size: 1.2rem;*/
}

.skill-box{
  padding: 1rem;
  /*color: black;*/
  /*cursor: pointer;*/
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
width: 35px ;
}

.skill-box:hover .img{
  transform: translateY(-10px);
}
/* TODO make the text aligned */
.skill-title{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  /*font-family: monospace, sans-serif;*/
}



.skill-title:after{
  content: '';
  position: absolute;
  bottom: 0;
right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: thistle;
  transition: .5s;
}

.skill-title:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: thistle;
  transition: .5s;
}

.img{
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  border: 0.5px solid black;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.img:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  /*background-color: rgba(100,100,100,0.5);*/
  border-radius: 45px 0 0 45px;

}

.skill-title h3{
 margin: 0.5rem;
  font-family: monospace, sans-serif;
  font-size: 1em;
}

.skill-icon{
  width: 50px;
z-index: 2;
}

a{
  text-decoration: none;
  color: black;
  transition: all .2s;
}

a:hover{
  color: thistle;
}

a img:hover {

  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

@media  screen and (max-width: 990px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
    display: block;

  }
}

/*@media  screen and (max-width: 321px) {
  .container{
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 20px;
    display: block;
  }
}*/


