/*
!* typing animation src: https://codepen.io/denic/pen/GRoOxbM *!
.wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
}

.typing-animation p{
  width: 80%;
  max-width: 50ch;
  animation: typing 3s steps(40), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: calc(1em + 1vw); !* Use responsive units for font size *!
  line-height: calc(1.2em + 1vw); !* Use responsive units for line height *!
  padding: 20px;

}


@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 820px) {
  .typing-animation {
    width: 80%;
    max-width: 60ch;
    animation: typing 3s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: auto;
    border-right: 3px solid;
    font-family: monospace;
    font-size: calc(1em + 1vw);
    line-height: calc(1.2em + 1vw);
    padding: 20px;

  }
}


*/

.wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
}

.css-typing p {
  border-right: .15em solid thistle;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  padding: 20px;
}
.css-typing p:nth-child(1) {
  width: 15.5em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 15.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 15.5em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid thistle;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid thistle;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid thistle;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid thistle;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 820px) {
  /* make the font-size smaller */
  .css-typing p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .typed-text {
    font-size: 1em;
  }
}
